@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

.hidden {
  display: none;
}

#separation {
  margin-top: 10em;
}


.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#seed-text {
  font-weight: bold;
}

.title {
  font-family: 'Beth Ellen', cursive;
}


/* .narrow {
  width: 330px;
}

@media (max-width: 480px) {
  .narrow {
    width: 100%;
  }
} */
